


principal {
    padding       : 0;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}
/* je le rend réactif en modifiant la mise en page pour des évrans larges */
@media (min-width: 1200px) {
    .cv {
      grid-template-areas:
        "nomPrenom photo"
        "travail apropos"
        "travail education"
        "communaute competence"
        "references references";
    }
  }

  @media (min-width: 900px) {
    .cv {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
          "nomPrenom photo"
          "apropos apropos"
          "travail travail"
          "education education"
          "competence competence"
          "communaute communaute"
          "references references"
    }
  }

  @media print {
    /* remove any screen only styles, for example link underline */
  }
  
  @page {
    padding: 0;
    margin: 0cm;
    size: A4 portrait;
  }
  
.cv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr 1fr;
    box-shadow           : 0 5px 9px 0 rgba(0, 0, 0, 0.35);
   
    /* pour contrôler l'écart des éléments */
    grid-gap             : 5px;
    grid-template-areas:
    "nomPrenom           nomPrenom       photo"
    "travail           travail       apropos"
    "travail           travail       education"
    "communaute      references competence";
    width : 210mm;
    height: 297mm;
    border: 1px solid black;
  }

  /* je divise les éléments avec des bordures */
  .division {
    padding: 1em 1em 1em 1em;
    border : 1px black solid;
}
  .nomPrenom {
    grid-area : nomPrenom;
   
  }
  
  .photo {
    grid-area : photo;
    background-color: rgb(48, 162, 228);
  }

  .cercle {
    border          : 1px solid black;
    background-color: white;
    height          : 250px;
    width           : 250px;
    border-radius   : 50%;
    
  }

  .apropos{
      grid-area: apropos;
      background-color:rgb(48, 162, 228);
  }

  .travail{
      grid-area: travail;
  }

  .education{
      grid-area: education;
      background-color: rgb(48, 162, 228);
  }

  .competence{
    grid-area: competence;
    background-color: rgb(48, 162, 228);
  }

  .communaute{
      grid-area: communaute;
  }
