principal {
    padding       : 0;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}
.cv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr 1fr;
    box-shadow           : 0 5px 9px 0 rgba(0, 0, 0, 0.35);
   
    /* pour contrôler l'écart des éléments */
    grid-gap             : 5px;
    grid-template-areas:
    "nomPrenom           nomPrenom       photo"
    "travail           travail       apropos"
    "travail           travail       education"
    "communaute      references competence";
  }

  /* je divise les éléments avec des bordures */
  .division {
    padding: 1em 1em 1em 1em;
    border : 1px black solid;
}
  .nomPrenom {
    grid-area : nomPrenom;
   
  }
  
  .photo {
    grid-area : photo;
    background-color: grey;
  }

  .cercle {
    border          : 1px solid black;
    background-color: white;
    height          : 250px;
    width           : 250px;
    border-radius   : 50%;
    
  }

  .apropos{
      grid-area: apropos;
      background-color: grey;
  }

  .travail{
      grid-area: travail;
  }

  .education{
      grid-area: education;
      background-color: grey;
  }

  .competence{
    grid-area: competence;
    background-color: grey;
  }

  .communaute{
      grid-area: communaute;
  }
